$text-button:white;
$button:#174dc0;
$to-bottom:linear-gradient(to bottom,#0e3742,#0e37427e);
$to-top:linear-gradient(to top,#0e3742,#0e37427e);
$to-right:linear-gradient(to right,#0e3742,#0e374205);
$primary:#0e3742;
$secondary:#ffffff;